<h1><%=@names[:name1]%> vs <%=@names[:name2]%></h1>
<div>
  <%=@names[:name1]%> - <%=@player_1_hp%> HP 
</div>
<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>
<div>
  <%=@names[:name2]%> - <%=@player_2_hp%> HP
</div>