<h1><%=@player_name_1%> vs <%=@player_name_2%></h1>
<div>
  <%=@player_name_1%> - <%=@player_1_hp%> HP 
</div>
<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>
<div>
  <%=@player_name_2%> - <%=@player_2_hp%> HP
</div>